.profile__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 735px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    grid-area: job;
  }
}