.popup__close-btn {
  background: none;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url(../../../images/popup-close-icon.svg);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 735px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}